/.idea/
/.config/
/.last_modified/
/.pki/
/.utlab/
/upload/*
#/local2/ajax/
#/local2/curs/
#/local2/fids/
/bitrix/*
!/bitrix/templates
!/bitrix/php_interface
!/bitrix/*.*
/excel_export/
/logs/
/upload
#*.png
#*.jpg
#*.gif
#*.svg
#*.webp
.git.tar.gz
#.gitignore
*.txt
*.json
*.log
*.zip
*.xml
*.csv
*.xls
*.xlsx
*.tar.gz
*.dat
.htaccess